@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    font-family: 'Open Sans';
}

body {
    border-radius: 15px;
}

#closeBtn {
    font-size: 30px;
    z-index: 999;
    position: absolute;
    right: 0;
    top: 15px;
    padding: 5px;
    color: red;
    text-decoration: none;
}

.title-bar {
    z-index: -1;
    -webkit-app-region: drag;
    left: 0%;
    top: 0;
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #444;
}